@{
    ViewData["Title"] = "Home Page";
}
<div id="colorbar">
    <h2>Welcome!</h2>
</div>
<p>Welcome to the Vehicle Tracker website.  From here you will be able to track your fleet's vehicles and gas levels.</p>